@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;

}
header{
    background-color: black;
    color:white;
    text-align: center;
    padding-bottom: 10px;
}
header > h1{
    padding-top: 50px;
    margin: 0px;
    font-variant: small-caps;
    
}
header > p{

    padding-bottom: 50px;
}
 a{
    text-decoration: none;
    color: rgb(122, 118, 118);
}
a:hover{
    text-decoration: underline;
    color: rgba(156, 130, 12, 0.664);
}
section{

    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(43, 40, 40);
    color:white
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.678);
    width: 400px;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}