@charset "UTF-8";



section{
    background-color: white;
        width: 400px;
        padding: 10px;
        margin: auto;
        border: 1px solid darkblue;
        border-radius: 14px;
    
   }
body{
    height: 100vh;
    background-color: black;
    background-image: url('IMAGENS/wallpaper002.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}








