@charset "UTF-8";




body{
    height: 100vh;
    background-color: black;
    background-image: url('IMAGENS/wallpaper002.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
}
main{
    background-color: bisque;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 14px;
}






