@charset "UTF-8";
*{
font-family: Arial, Helvetica, sans-serif;

}
img{border-radius: 10px;


}
body{

    background-image: linear-gradient(to top, #9AEBA3 50%, #45C4B0);
}
main{
background-color: #DAFDBA;
border-radius: 10px;
width: 600px;
padding:10px ;
margin: auto;
box-shadow: 3px 3px 20px #0120308e;


}